html,body {
	font-family: 'Slabo 27px', serif;
	background-color: #f0f0f0;
}

#directpayMenu{
	width: 80%;
	height: 20%;
	font-size: 35px;
	margin-top: 40%;
}

#undirectpayMenu{
	width: 80%;
	height: 20%;
	font-size: 35px;
	margin-top: 20%;
}

#transactionlistMenu{
	width: 80%;
	height: 20%;
	font-size: 35px;
	margin-top: 20%;
}